
body {
 background-color:#eec;
 }
div.footer {
 position:absolute;
 left:50px;
 top:550px; 
 }
p.attr { 
 font-family:sans-serif;
 font-size:14px;
 color:#777; 
 }
.frm-topaz, .frm-opal {
 background-color:#ffe;
 border:1px solid #ccc;
 border-radius:15px;
 padding:5px;
 }
.frm-topaz {
 position:absolute;
 left:100px;
 top:50px;
 }
.frm-opal {
 position:absolute;
 left:100px;
 top:250px;
 }
.srl {
 position:absolute;
 left:150px;
 top:450px;
 font-family:monospace;
 background-color:#ffe;
 border:1px solid #ccc;
 border-radius:8px;
 padding:5px; 
 }
