
body {
  background-color:#fffef0;
  font-family:"WenQuanYi Zen Hei Mono",monospace;
  white-space:nowrap;
}
h1 {
  margin:20px 0 0 20px;
  font-size:32px;
  color:#696969;
}
#content {
  text-align:center;
  font-size:18px;
}
table {
  border-collapse:collapse;
}
td {
  width:100px;
  background-color:transparent;
}
ul {
  list-style-type:none;
  padding:0;
}
li {
  margin:4px 0 4px 0;
  line-height:24px;
}
a {
  text-decoration:none;
  color:#a0522d;
}
a:hover {
  text-decoration:underline;
  color:#8b4513;
}
.nav {
  background-color:#fffff0;
  border:2px solid #d3d3d3;
  border-radius:15px;
  padding:5px;
}
#topaz {
  position:absolute;
  left:65px;
  top:118px;
}
#sapphire {
  position:absolute;
  left:10px;
  top:230px;
}
#peridot {
  position:absolute;
  left:250px;
  top:80px;
}
#amethyst {
  position:absolute;
  left:250px;
  top:280px;
}
#onyx {
  position:absolute;
  left:490px;
  top:40px;
}
#agate {
  position:absolute;
  left:730px;
  top:100px;
}
#beryl {
  position:absolute;
  left:730px;
  top:280px;
}
#logo {
  position:absolute;
  left:60px;
  top:420px;
}
#attr {
  position:absolute;
  left:40px;
  top:575px;
}
.cpy {
  font-family:"DejaVu Sans",helvetica,arial,sans-serif;
  font-size:14px;
  color:#696969;
}
@media screen and ( max-width:999px ) {
  h1 {
    margin:16px;
    text-align:center;
  }
  table {
    margin:0 auto 0 auto;
  }
  li {
    margin:10px 0 10px 0;
  }
  .nav {
    width:260px;
    margin:0 auto 0 auto;
    border:1px solid #d3d3d3;
  }
  #topaz {
    position:relative;
    left:0;
    top:0;
  }
  #sapphire {
    position:relative;
    left:0;
    top:0;
  }
  #peridot {
    position:relative;
    left:0;
    top:0;
  }
  #amethyst {
    position:relative;
    left:0;
    top:0;
  }
  #onyx {
    position:relative;
    left:0;
    top:0;
  }
  #agate {
    position:relative;
    left:0;
    top:0;
  }
  #beryl {
    position:relative;
    left:0;
    top:0;
  }
  #logo {
    position:relative;
    left:0;
    top:0;
    padding:20px 0 0 0;
    text-align:center;
  }
  #attr {
    position:relative;
    left:0;
    top:0;
  }
  .cpy {
    text-align:center;
  }
}

