
body {
  background-color:#fefef0;
}
h1 {
  font-family:helvetica,sans-serif;
  color:#a9a9a9;
  margin-left:20px;
}
ul {
  list-style-type:none;
  text-align:center;
  font-family:consolas,monospace;
  font-size:20px;
  padding-right:40px;
}
li {
  padding:2px; 
}
a {
  text-decoration:none;
  color:#5a5a5a; 
}
a:hover {
  text-decoration:underline;
  color:#2f2f2f; 
}
.nav {
  background-color:#fffff0; 
  border:2px solid #d3d3d3;
  border-radius:15px;
}
#topaz {
  position:absolute;
  left:60px;
  top:118px;
}
#sapphire {
  position:absolute;
  left:20px;
  top:235px;
}
#peridot {
  position:absolute;
  left:264px;
  top:75px;
}
#amethyst {
  position:absolute;
  left:252px;
  top:275px;
}
#onyx {
  position:absolute;
  left:510px;
  top:52px;
}
#agate {
  position:absolute;
  left:790px;
  top:100px;
}
#beryl {
  position:absolute;
  left:800px;
  top:250px;
}
#xtrNav {
  position:absolute;
  left:40px;
  top:420px;
}
#obv {
  position:absolute;
  left:80px;
  top: 40px;
  background-color:#fffff0;
  border:1px dotted #808080;
  padding:10px 30px 0px 40px;
}
#rev {
  position:absolute;
  left:80px;
  top:300px;
  background-color:#fffff0;
  border:1px dotted #808080;
  padding:10px 30px 0px 40px;
}
.tt {
  font-family:consolas,monospace;
  font-size:20px;
  color:#4a4a4a;
}
.seq {
  font-size:16px;
}
.shm1 {
  padding:12px 8px 36px 0px;
}
.shm2 {
  padding:0 22px 0 0;
}
#uimg {
  position:absolute;
  left:60px;
  top:430px;
}
.attr {
  font-family:verdana,sans-serif;
  font-size:14px;
  color:#808080;
}
#ftr {
  position:absolute;
  left:40px;
  top:572px;
}
@media screen and ( max-width:700px ) {
  body {
    padding:8px;
  }
  h1, h2 {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }
  #ui {
    width:300px;
    margin-left:auto;
    margin-right:auto;
  }
  li {
    padding:10px; 
  }
  #topaz {
    position:relative;
    left:0;
    top:0;
  }
  #sapphire {
    position:relative;
    left:0;
    top:0;
  }
  #peridot {
    position:relative;
    left:0;
    top:0;
  }
  #amethyst {
    position:relative;
    left:0;
    top:0;
  }
  #onyx {
    position:relative;
    left:0;
    top:0;
  }
  #agate {
    position:relative;
    left:0;
    top:0;
  }
  #beryl {
    position:relative;
    left:0;
    top:0;
  }
  #xtrNav {
    position:relative;
    left:0;
    top:0;
  }
  #obv {
    position:relative;
    left:0;
    top:0;
    width:420px;
    margin-left:auto;
    margin-right:auto;
    padding:0 10px 0 10px;
  }
  #rev {
    position:relative;
    left:0;
    top:0;
    width:420px;
    margin-top:16px;
    margin-left:auto;
    margin-right:auto;
    padding:0 10px 0 10px;
  }
  .tt {
    font-size:12px;
    color:#1a1a1a;
  }
  dd {
    margin:0;
    padding:0;
  }
  .seq {
    font-size:10px;
    margin:-6px 0 4px 0;
    padding:0;
  }
  .shm1 {
    padding:8px 0 12px 2px;
  }
  .shm2 {
    padding:0 0 0 0;
  }
  #uimg {
    position:relative;
    left:0;
    top:0;
    text-align:center;
    margin:10px;
  }
  #ftr {
    position:relative;
    left:0;
    top:0;
  }
  .attr {
    margin:10px 0 0 0;
    padding:0;
    text-align:center;
    color:#5a5a5a;
  }
}

