
body {
  margin:0;
  padding:0;
  background-color:#000000;
}
#nav {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  background-color:#1b1b1b;
  line-height:35px;
  text-align:center;
}
#nav button {
  border:2px solid #2f2f2f;
  border-radius:6px;
  padding:2px;
  background-color:#1b1b1b;
  text-decoration:none;
  color:#696969;
}
#nav button:hover {
  text-decoration:overline;
  color:#778899;
  cursor:pointer;
}
pre.str {
  margin:4% auto 0 20%;
  padding:0;
  font-family:"DejaVu Sans Mono",monospace;
  font-size:20px;
  color:#808000;
}
.attr {
  margin-top:99px;
  text-align:center;
  font-family:"DejaVu Sans",sans-serif;
  font-size:14px;
  color:#4f4f4f;
}
@media screen and ( max-width:960px ) {
  pre.str {
    margin:6% auto 0 15%;
    font-size:18px;
  }
}
@media screen and ( max-width:750px ) {
  pre.str {
    margin:8% auto 0 8%;
    font-size:14px;
  }
}
@media screen and ( max-width:500px ) {
  pre.str {
    margin:10% auto 0 6%;
    font-size:12px;
  }
}

