
body {
  margin:0;
  padding:0;
  background-color:#fffff0;
}
#nav {
  margin:8px 0 8px 0;
}
hr {
  float:left;
  width:220px;
}
#views {
  position:fixed;
  left:280px;
  top:20px;
}
iframe {
  width:660px;
  height:440px;
  border:0;
  background-color:#fffff0;
}
h2 {
  margin:5px 10px 0 10px;
  font-family:monospace;
  font-size:20px;
  color:#2f4f4f;
}
h3 {
  margin:10px 20px 0 20px;
  font-family:monospace;
  font-size:16px;
  color:#2f4f4f;
}
b {
  margin:0 30px 0 30px;
  font-family:monospace;
  font-size:14px;
  color:#2f4f4f;
}
ul {
  margin:0 20px 10px 20px;
  list-style-type:circle;
}
li {
  line-height:24px;
  font-family:monospace;
  font-size:16px;
  color:#696969;
}
a {
  text-decoration:none;
  color:#2f4f4f;
}
a:hover {
  text-decoration:underline;
  color:#000000;
}
#footer {
  margin:99px 5px 15px 5px;
}
.attr {
  font-family:sans-serif;
  font-size:12px;
  color:#808080;
}
@media screen and ( max-width:750px ) {
  #nav {
    position:relative;
    left:0;
    top:140px;
    padding:10px;
  }
  #views {
    position:fixed;
    left:0;
    top:0;
    z-index:1;
    width:100%;
    border:1px solid #a9a9a9;
    background-color:#fffff0;
    padding:8px 0 0 24px;
  }
  iframe {
    width:450px;
    height:140px;
  }
  li {
    line-height:32px;
  }
  #footer {
    margin:130px 2px 16px 2px;
  }
  .attr {
    padding:10px;
    text-align:center;
  }
}

