
body {
  margin: 0;
  padding: 0;
  background-color: #fffff0;
  font-family: monospace;
}
div#container {
  width: 384px;
  margin: 1em auto;
  line-height: 1.5em;
  font-size: 16px;
}
div#directup {
  font-size: 24px;
}
ul {
  width: 256px;
  margin: 1em 0 6em 1em;
  list-style: square;
  color: #d2b48c;
}
a {
  text-decoration: none;
  color: #5f9ea0;
}
a:hover {
  text-decoration: underline;
  color: #4682b4;
}

