
#pis {background:url('/images/glyphite.PNG') 0 0;}
#aqu {background:url('/images/glyphite.PNG') -55px 0;}
#cap {background:url('/images/glyphite.PNG') -110px 0;}
#sag {background:url('/images/glyphite.PNG') -162px 0;}
#sco {background:url('/images/glyphite.PNG') -215px 0;}
#lib {background:url('/images/glyphite.PNG') -270px 0;}
#vir {background:url('/images/glyphite.PNG') -325px 0;}
#leo {background:url('/images/glyphite.PNG') -375px 0;}

#can {background:url('/images/glyphite.PNG') 0 -63px; }
#gem {background:url('/images/glyphite.PNG') -55px -63px;}
#tau {background:url('/images/glyphite.PNG') -110px -63px;}
#ari {background:url('/images/glyphite.PNG') -162px -63px;}
#TiCu {background:url('/images/glyphite.PNG') -215px -63px;}
#FeMn {background:url('/images/glyphite.PNG') -270px -63px;}
#MnFe {background:url('/images/glyphite.PNG') -325px -63px;}
#CuTi {background:url('/images/glyphite.PNG') -375px -63px;}

#CuAu {background:url('/images/glyphite.PNG') 0 -126px; }
#AuCu {background:url('/images/glyphite.PNG') -55px -126px;}
#NpMn {background:url('/images/glyphite.PNG') -110px -126px;}
#AgSn {background:url('/images/glyphite.PNG') -162px -126px;}
#FeHg {background:url('/images/glyphite.PNG') -215px -126px;}
#HgFe {background:url('/images/glyphite.PNG') -270px -126px;}
#SnAg {background:url('/images/glyphite.PNG') -325px -126px;}
#MnNp {background:url('/images/glyphite.PNG') -375px -126px;}

#AgAu {background:url('/images/glyphite.PNG') 0 -189px; }
#FePb {background:url('/images/glyphite.PNG') -55px -189px;}
#HgCu {background:url('/images/glyphite.PNG') -110px -189px;}
#SnSn {background:url('/images/glyphite.PNG') -162px -189px;}
#CuHg {background:url('/images/glyphite.PNG') -215px -189px;}
#PbFe {background:url('/images/glyphite.PNG') -270px -189px;}
#AuAg {background:url('/images/glyphite.PNG') -325px -189px;}
#NpNp {background:url('/images/glyphite.PNG') -375px -189px;}

#SnAu {background:url('/images/glyphite.PNG') 0 -252px; }
#CuPb {background:url('/images/glyphite.PNG') -55px -252px;}
#PbCu {background:url('/images/glyphite.PNG') -110px -252px;}
#AuSn {background:url('/images/glyphite.PNG') -162px -252px;}
#AgHg {background:url('/images/glyphite.PNG') -215px -252px;}
#TiFe {background:url('/images/glyphite.PNG') -270px -252px;}
#FeTi {background:url('/images/glyphite.PNG') -325px -252px;}
#HgAg {background:url('/images/glyphite.PNG') -375px -252px;}

#AuAu {background:url('/images/glyphite.PNG') 0 -315px; }
#AgPb {background:url('/images/glyphite.PNG') -55px -315px;}
#FeUr {background:url('/images/glyphite.PNG') -110px -315px;}
#HgSn {background:url('/images/glyphite.PNG') -162px -315px;}
#PuPu {background:url('/images/glyphite.PNG') -215px -315px;}
#SnHg {background:url('/images/glyphite.PNG') -270px -315px;}
#UrFe {background:url('/images/glyphite.PNG') -325px -315px;}
#PbAg {background:url('/images/glyphite.PNG') -375px -315px;}

#HgAu-Ti {background:url('/images/glyphite.PNG') 0 -378px; }
#Ti-SnPb {background:url('/images/glyphite.PNG') -55px -378px;}
#UrCu {background:url('/images/glyphite.PNG') -110px -378px;}
#CuMn {background:url('/images/glyphite.PNG') -162px -378px;}
#PbSn {background:url('/images/glyphite.PNG') -215px -378px;}
#AuHg {background:url('/images/glyphite.PNG') -270px -378px;}
#NpFe {background:url('/images/glyphite.PNG') -325px -378px;}
#AgTi {background:url('/images/glyphite.PNG') -375px -378px;}

#HgAu {background:url('/images/glyphite.PNG') 0 -441px; }
#SnPb {background:url('/images/glyphite.PNG') -55px -441px;}
#MnCu {background:url('/images/glyphite.PNG') -110px -441px;}
#CuUr {background:url('/images/glyphite.PNG') -162px -441px;}
#PbSn-Ti {background:url('/images/glyphite.PNG') -215px -441px;}
#Ti-AuHg {background:url('/images/glyphite.PNG') -270px -441px;}
#TiAg {background:url('/images/glyphite.PNG') -325px -441px;}
#FeNp {background:url('/images/glyphite.PNG') -375px -441px;}

#PbAu {background:url('/images/glyphite.PNG') 0 -504px; }
#AuPb {background:url('/images/glyphite.PNG') -55px -504px;}
#NpCu {background:url('/images/glyphite.PNG') -110px -504px;}
#AgMn {background:url('/images/glyphite.PNG') -162px -504px;}
#TiSn {background:url('/images/glyphite.PNG') -215px -504px;}
#Mn-FePu {background:url('/images/glyphite.PNG') -270px -504px;}
#HgHg-Ti {background:url('/images/glyphite.PNG') -325px -504px;}
#PuFe {background:url('/images/glyphite.PNG') -375px -504px;}

#AgUr {background:url('/images/glyphite.PNG') 0 -567px; }
#FePu {background:url('/images/glyphite.PNG') -55px -567px;}
#Ti-HgHg {background:url('/images/glyphite.PNG') -110px -567px;}
#PuFe-Mn {background:url('/images/glyphite.PNG') -162px -567px;}
#SnTi {background:url('/images/glyphite.PNG') -215px -567px;}
#MnAg {background:url('/images/glyphite.PNG') -270px -567px;}
#CuNp {background:url('/images/glyphite.PNG') -325px -567px;}
#UrAg {background:url('/images/glyphite.PNG') -375px -567px;}

#PbAu-Ti {background:url('/images/glyphite.PNG') 0 -630px; }
#Ti-AuPb {background:url('/images/glyphite.PNG') -55px -630px;}
#AgMn {background:url('/images/glyphite.PNG') -110px -630px;}
#HgHg {background:url('/images/glyphite.PNG') -162px -630px;}
#Ti-HgHg-Ti {background:url('/images/glyphite.PNG') -215px -630px;}
#MnAg {background:url('/images/glyphite.PNG') -270px -630px;}
#PuSn {background:url('/images/glyphite.PNG') -325px -630px;}
#SnPu {background:url('/images/glyphite.PNG') -375px -630px;}

#UrAu {background:url('/images/glyphite.PNG') 0 -693px; }
#PbPb {background:url('/images/glyphite.PNG') -55px -693px;}
#AuUr {background:url('/images/glyphite.PNG') -110px -693px;}
#NpSn {background:url('/images/glyphite.PNG') -162px -693px;}
#TiHg {background:url('/images/glyphite.PNG') -215px -693px;}
#FeFe {background:url('/images/glyphite.PNG') -270px -693px;}
#HgTi {background:url('/images/glyphite.PNG') -325px -693px;}
#SnNp {background:url('/images/glyphite.PNG') -375px -693px;}

#NpAu {background:url('/images/glyphite.PNG') 0 -756px; }
#TiPb {background:url('/images/glyphite.PNG') -55px -756px;}
#FeCu {background:url('/images/glyphite.PNG') -110px -756px;}
#HgMn {background:url('/images/glyphite.PNG') -162px -756px;}
#MnHg {background:url('/images/glyphite.PNG') -215px -756px;}
#CuFe {background:url('/images/glyphite.PNG') -270px -756px;}
#PbTi {background:url('/images/glyphite.PNG') -325px -756px;}
#AuNp {background:url('/images/glyphite.PNG') -375px -756px;}

#PuAu {background:url('/images/glyphite.PNG') 0 -819px; }
#UrPb {background:url('/images/glyphite.PNG') -55px -819px;}
#PbUr {background:url('/images/glyphite.PNG') -110px -819px;}
#AuPu {background:url('/images/glyphite.PNG') -162px -819px;}
#NpHg {background:url('/images/glyphite.PNG') -215px -819px;}
#AgFe {background:url('/images/glyphite.PNG') -270px -819px;}
#FeAg {background:url('/images/glyphite.PNG') -325px -819px;}
#HgNp {background:url('/images/glyphite.PNG') -375px -819px;}

/* black */

#pis_black {background:url('/images/black.PNG') 0 0;}
#aqu_black {background:url('/images/black.PNG') -55px 0;}
#cap_black {background:url('/images/black.PNG') -110px 0;}
#sag_black {background:url('/images/black.PNG') -162px 0;}
#sco_black {background:url('/images/black.PNG') -215px 0;}
#lib_black {background:url('/images/black.PNG') -270px 0;}
#vir_black {background:url('/images/black.PNG') -325px 0;}
#leo_black {background:url('/images/black.PNG') -375px 0;}

#can_black {background:url('/images/black.PNG') 0 -63px; }
#gem_black {background:url('/images/black.PNG') -55px -63px;}
#tau_black {background:url('/images/black.PNG') -110px -63px;}
#ari_black {background:url('/images/black.PNG') -162px -63px;}
#TiCu_black {background:url('/images/black.PNG') -215px -63px;}
#FeMn_black {background:url('/images/black.PNG') -270px -63px;}
#MnFe_black {background:url('/images/black.PNG') -325px -63px;}
#CuTi_black {background:url('/images/black.PNG') -375px -63px;}

#CuAu_black {background:url('/images/black.PNG') 0 -126px; }
#AuCu_black {background:url('/images/black.PNG') -55px -126px;}
#NpMn_black {background:url('/images/black.PNG') -110px -126px;}
#AgSn_black {background:url('/images/black.PNG') -162px -126px;}
#FeHg_black {background:url('/images/black.PNG') -215px -126px;}
#HgFe_black {background:url('/images/black.PNG') -270px -126px;}
#SnAg_black {background:url('/images/black.PNG') -325px -126px;}
#MnNp_black {background:url('/images/black.PNG') -375px -126px;}

#AgAu_black {background:url('/images/black.PNG') 0 -189px; }
#FePb_black {background:url('/images/black.PNG') -55px -189px;}
#HgCu_black {background:url('/images/black.PNG') -110px -189px;}
#SnSn_black {background:url('/images/black.PNG') -162px -189px;}
#CuHg_black {background:url('/images/black.PNG') -215px -189px;}
#PbFe_black {background:url('/images/black.PNG') -270px -189px;}
#AuAg_black {background:url('/images/black.PNG') -325px -189px;}
#NpNp_black {background:url('/images/black.PNG') -375px -189px;}

#SnAu_black {background:url('/images/black.PNG') 0 -252px; }
#CuPb_black {background:url('/images/black.PNG') -55px -252px;}
#PbCu_black {background:url('/images/black.PNG') -110px -252px;}
#AuSn_black {background:url('/images/black.PNG') -162px -252px;}
#AgHg_black {background:url('/images/black.PNG') -215px -252px;}
#TiFe_black {background:url('/images/black.PNG') -270px -252px;}
#FeTi_black {background:url('/images/black.PNG') -325px -252px;}
#HgAg_black {background:url('/images/black.PNG') -375px -252px;}

#AuAu_black {background:url('/images/black.PNG') 0 -315px; }
#AgPb_black {background:url('/images/black.PNG') -55px -315px;}
#FeUr_black {background:url('/images/black.PNG') -110px -315px;}
#HgSn_black {background:url('/images/black.PNG') -162px -315px;}
#PuPu_black {background:url('/images/black.PNG') -215px -315px;}
#SnHg_black {background:url('/images/black.PNG') -270px -315px;}
#UrFe_black {background:url('/images/black.PNG') -325px -315px;}
#PbAg_black {background:url('/images/black.PNG') -375px -315px;}

#HgAu-Ti_black {background:url('/images/black.PNG') 0 -378px; }
#Ti-SnPb_black {background:url('/images/black.PNG') -55px -378px;}
#UrCu_black {background:url('/images/black.PNG') -110px -378px;}
#CuMn_black {background:url('/images/black.PNG') -162px -378px;}
#PbSn_black {background:url('/images/black.PNG') -215px -378px;}
#AuHg_black {background:url('/images/black.PNG') -270px -378px;}
#NpFe_black {background:url('/images/black.PNG') -325px -378px;}
#AgTi_black {background:url('/images/black.PNG') -375px -378px;}

#HgAu_black {background:url('/images/black.PNG') 0 -441px; }
#SnPb_black {background:url('/images/black.PNG') -55px -441px;}
#MnCu_black {background:url('/images/black.PNG') -110px -441px;}
#CuUr_black {background:url('/images/black.PNG') -162px -441px;}
#PbSn-Ti_black {background:url('/images/black.PNG') -215px -441px;}
#Ti-AuHg_black {background:url('/images/black.PNG') -270px -441px;}
#TiAg_black {background:url('/images/black.PNG') -325px -441px;}
#FeNp_black {background:url('/images/black.PNG') -375px -441px;}

#PbAu_black {background:url('/images/black.PNG') 0 -504px; }
#AuPb_black {background:url('/images/black.PNG') -55px -504px;}
#NpCu_black {background:url('/images/black.PNG') -110px -504px;}
#AgMn_black {background:url('/images/black.PNG') -162px -504px;}
#TiSn_black {background:url('/images/black.PNG') -215px -504px;}
#Mn-FePu_black {background:url('/images/black.PNG') -270px -504px;}
#HgHg-Ti_black {background:url('/images/black.PNG') -325px -504px;}
#PuFe_black {background:url('/images/black.PNG') -375px -504px;}

#AgUr_black {background:url('/images/black.PNG') 0 -567px; }
#FePu_black {background:url('/images/black.PNG') -55px -567px;}
#Ti-HgHg_black {background:url('/images/black.PNG') -110px -567px;}
#PuFe-Mn_black {background:url('/images/black.PNG') -162px -567px;}
#SnTi_black {background:url('/images/black.PNG') -215px -567px;}
#MnAg_black {background:url('/images/black.PNG') -270px -567px;}
#CuNp_black {background:url('/images/black.PNG') -325px -567px;}
#UrAg_black {background:url('/images/black.PNG') -375px -567px;}

#PbAu-Ti_black {background:url('/images/black.PNG') 0 -630px; }
#Ti-AuPb_black {background:url('/images/black.PNG') -55px -630px;}
#AgMn_black {background:url('/images/black.PNG') -110px -630px;}
#HgHg_black {background:url('/images/black.PNG') -162px -630px;}
#Ti-HgHg-Ti_black {background:url('/images/black.PNG') -215px -630px;}
#MnAg_black {background:url('/images/black.PNG') -270px -630px;}
#PuSn_black {background:url('/images/black.PNG') -325px -630px;}
#SnPu_black {background:url('/images/black.PNG') -375px -630px;}

#UrAu_black {background:url('/images/black.PNG') 0 -693px; }
#PbPb_black {background:url('/images/black.PNG') -55px -693px;}
#AuUr_black {background:url('/images/black.PNG') -110px -693px;}
#NpSn_black {background:url('/images/black.PNG') -162px -693px;}
#TiHg_black {background:url('/images/black.PNG') -215px -693px;}
#FeFe_black {background:url('/images/black.PNG') -270px -693px;}
#HgTi_black {background:url('/images/black.PNG') -325px -693px;}
#SnNp_black {background:url('/images/black.PNG') -375px -693px;}

#NpAu_black {background:url('/images/black.PNG') 0 -756px; }
#TiPb_black {background:url('/images/black.PNG') -55px -756px;}
#FeCu_black {background:url('/images/black.PNG') -110px -756px;}
#HgMn_black {background:url('/images/black.PNG') -162px -756px;}
#MnHg_black {background:url('/images/black.PNG') -215px -756px;}
#CuFe_black {background:url('/images/black.PNG') -270px -756px;}
#PbTi_black {background:url('/images/black.PNG') -325px -756px;}
#AuNp_black {background:url('/images/black.PNG') -375px -756px;}

#PuAu_black {background:url('/images/black.PNG') 0 -819px; }
#UrPb_black {background:url('/images/black.PNG') -55px -819px;}
#PbUr_black {background:url('/images/black.PNG') -110px -819px;}
#AuPu_black {background:url('/images/black.PNG') -162px -819px;}
#NpHg_black {background:url('/images/black.PNG') -215px -819px;}
#AgFe_black {background:url('/images/black.PNG') -270px -819px;}
#FeAg_black {background:url('/images/black.PNG') -325px -819px;}
#HgNp_black {background:url('/images/black.PNG') -375px -819px;}

/* violet */

#pis_violet {background:url('/images/violet.PNG') 0 0;}
#aqu_violet {background:url('/images/violet.PNG') -55px 0;}
#cap_violet {background:url('/images/violet.PNG') -110px 0;}
#sag_violet {background:url('/images/violet.PNG') -162px 0;}
#sco_violet {background:url('/images/violet.PNG') -215px 0;}
#lib_violet {background:url('/images/violet.PNG') -270px 0;}
#vir_violet {background:url('/images/violet.PNG') -325px 0;}
#leo_violet {background:url('/images/violet.PNG') -375px 0;}

#can_violet {background:url('/images/violet.PNG') 0 -63px; }
#gem_violet {background:url('/images/violet.PNG') -55px -63px;}
#tau_violet {background:url('/images/violet.PNG') -110px -63px;}
#ari_violet {background:url('/images/violet.PNG') -162px -63px;}
#TiCu_violet {background:url('/images/violet.PNG') -215px -63px;}
#FeMn_violet {background:url('/images/violet.PNG') -270px -63px;}
#MnFe_violet {background:url('/images/violet.PNG') -325px -63px;}
#CuTi_violet {background:url('/images/violet.PNG') -375px -63px;}

#CuAu_violet {background:url('/images/violet.PNG') 0 -126px; }
#AuCu_violet {background:url('/images/violet.PNG') -55px -126px;}
#NpMn_violet {background:url('/images/violet.PNG') -110px -126px;}
#AgSn_violet {background:url('/images/violet.PNG') -162px -126px;}
#FeHg_violet {background:url('/images/violet.PNG') -215px -126px;}
#HgFe_violet {background:url('/images/violet.PNG') -270px -126px;}
#SnAg_violet {background:url('/images/violet.PNG') -325px -126px;}
#MnNp_violet {background:url('/images/violet.PNG') -375px -126px;}

#AgAu_violet {background:url('/images/violet.PNG') 0 -189px; }
#FePb_violet {background:url('/images/violet.PNG') -55px -189px;}
#HgCu_violet {background:url('/images/violet.PNG') -110px -189px;}
#SnSn_violet {background:url('/images/violet.PNG') -162px -189px;}
#CuHg_violet {background:url('/images/violet.PNG') -215px -189px;}
#PbFe_violet {background:url('/images/violet.PNG') -270px -189px;}
#AuAg_violet {background:url('/images/violet.PNG') -325px -189px;}
#NpNp_violet {background:url('/images/violet.PNG') -375px -189px;}

#SnAu_violet {background:url('/images/violet.PNG') 0 -252px; }
#CuPb_violet {background:url('/images/violet.PNG') -55px -252px;}
#PbCu_violet {background:url('/images/violet.PNG') -110px -252px;}
#AuSn_violet {background:url('/images/violet.PNG') -162px -252px;}
#AgHg_violet {background:url('/images/violet.PNG') -215px -252px;}
#TiFe_violet {background:url('/images/violet.PNG') -270px -252px;}
#FeTi_violet {background:url('/images/violet.PNG') -325px -252px;}
#HgAg_violet {background:url('/images/violet.PNG') -375px -252px;}

#AuAu_violet {background:url('/images/violet.PNG') 0 -315px; }
#AgPb_violet {background:url('/images/violet.PNG') -55px -315px;}
#FeUr_violet {background:url('/images/violet.PNG') -110px -315px;}
#HgSn_violet {background:url('/images/violet.PNG') -162px -315px;}
#PuPu_violet {background:url('/images/violet.PNG') -215px -315px;}
#SnHg_violet {background:url('/images/violet.PNG') -270px -315px;}
#UrFe_violet {background:url('/images/violet.PNG') -325px -315px;}
#PbAg_violet {background:url('/images/violet.PNG') -375px -315px;}

#HgAu-Ti_violet {background:url('/images/violet.PNG') 0 -378px; }
#Ti-SnPb_violet {background:url('/images/violet.PNG') -55px -378px;}
#UrCu_violet {background:url('/images/violet.PNG') -110px -378px;}
#CuMn_violet {background:url('/images/violet.PNG') -162px -378px;}
#PbSn_violet {background:url('/images/violet.PNG') -215px -378px;}
#AuHg_violet {background:url('/images/violet.PNG') -270px -378px;}
#NpFe_violet {background:url('/images/violet.PNG') -325px -378px;}
#AgTi_violet {background:url('/images/violet.PNG') -375px -378px;}

#HgAu_violet {background:url('/images/violet.PNG') 0 -441px; }
#SnPb_violet {background:url('/images/violet.PNG') -55px -441px;}
#MnCu_violet {background:url('/images/violet.PNG') -110px -441px;}
#CuUr_violet {background:url('/images/violet.PNG') -162px -441px;}
#PbSn-Ti_violet {background:url('/images/violet.PNG') -215px -441px;}
#Ti-AuHg_violet {background:url('/images/violet.PNG') -270px -441px;}
#TiAg_violet {background:url('/images/violet.PNG') -325px -441px;}
#FeNp_violet {background:url('/images/violet.PNG') -375px -441px;}

#PbAu_violet {background:url('/images/violet.PNG') 0 -504px; }
#AuPb_violet {background:url('/images/violet.PNG') -55px -504px;}
#NpCu_violet {background:url('/images/violet.PNG') -110px -504px;}
#AgMn_violet {background:url('/images/violet.PNG') -162px -504px;}
#TiSn_violet {background:url('/images/violet.PNG') -215px -504px;}
#Mn-FePu_violet {background:url('/images/violet.PNG') -270px -504px;}
#HgHg-Ti_violet {background:url('/images/violet.PNG') -325px -504px;}
#PuFe_violet {background:url('/images/violet.PNG') -375px -504px;}

#AgUr_violet {background:url('/images/violet.PNG') 0 -567px; }
#FePu_violet {background:url('/images/violet.PNG') -55px -567px;}
#Ti-HgHg_violet {background:url('/images/violet.PNG') -110px -567px;}
#PuFe-Mn_violet {background:url('/images/violet.PNG') -162px -567px;}
#SnTi_violet {background:url('/images/violet.PNG') -215px -567px;}
#MnAg_violet {background:url('/images/violet.PNG') -270px -567px;}
#CuNp_violet {background:url('/images/violet.PNG') -325px -567px;}
#UrAg_violet {background:url('/images/violet.PNG') -375px -567px;}

#PbAu-Ti_violet {background:url('/images/violet.PNG') 0 -630px; }
#Ti-AuPb_violet {background:url('/images/violet.PNG') -55px -630px;}
#AgMn_violet {background:url('/images/violet.PNG') -110px -630px;}
#HgHg_violet {background:url('/images/violet.PNG') -162px -630px;}
#Ti-HgHg-Ti_violet {background:url('/images/violet.PNG') -215px -630px;}
#MnAg_violet {background:url('/images/violet.PNG') -270px -630px;}
#PuSn_violet {background:url('/images/violet.PNG') -325px -630px;}
#SnPu_violet {background:url('/images/violet.PNG') -375px -630px;}

#UrAu_violet {background:url('/images/violet.PNG') 0 -693px; }
#PbPb_violet {background:url('/images/violet.PNG') -55px -693px;}
#AuUr_violet {background:url('/images/violet.PNG') -110px -693px;}
#NpSn_violet {background:url('/images/violet.PNG') -162px -693px;}
#TiHg_violet {background:url('/images/violet.PNG') -215px -693px;}
#FeFe_violet {background:url('/images/violet.PNG') -270px -693px;}
#HgTi_violet {background:url('/images/violet.PNG') -325px -693px;}
#SnNp_violet {background:url('/images/violet.PNG') -375px -693px;}

#NpAu_violet {background:url('/images/violet.PNG') 0 -756px; }
#TiPb_violet {background:url('/images/violet.PNG') -55px -756px;}
#FeCu_violet {background:url('/images/violet.PNG') -110px -756px;}
#HgMn_violet {background:url('/images/violet.PNG') -162px -756px;}
#MnHg_violet {background:url('/images/violet.PNG') -215px -756px;}
#CuFe_violet {background:url('/images/violet.PNG') -270px -756px;}
#PbTi_violet {background:url('/images/violet.PNG') -325px -756px;}
#AuNp_violet {background:url('/images/violet.PNG') -375px -756px;}

#PuAu_violet {background:url('/images/violet.PNG') 0 -819px; }
#UrPb_violet {background:url('/images/violet.PNG') -55px -819px;}
#PbUr_violet {background:url('/images/violet.PNG') -110px -819px;}
#AuPu_violet {background:url('/images/violet.PNG') -162px -819px;}
#NpHg_violet {background:url('/images/violet.PNG') -215px -819px;}
#AgFe_violet {background:url('/images/violet.PNG') -270px -819px;}
#FeAg_violet {background:url('/images/violet.PNG') -325px -819px;}
#HgNp_violet {background:url('/images/violet.PNG') -375px -819px;}

/* indigo */ 

#pis_indigo {background:url('/images/indigo.PNG') 0 0;}
#aqu_indigo {background:url('/images/indigo.PNG') -55px 0;}
#cap_indigo {background:url('/images/indigo.PNG') -110px 0;}
#sag_indigo {background:url('/images/indigo.PNG') -162px 0;}
#sco_indigo {background:url('/images/indigo.PNG') -215px 0;}
#lib_indigo {background:url('/images/indigo.PNG') -270px 0;}
#vir_indigo {background:url('/images/indigo.PNG') -325px 0;}
#leo_indigo {background:url('/images/indigo.PNG') -375px 0;}

#can_indigo {background:url('/images/indigo.PNG') 0 -63px; }
#gem_indigo {background:url('/images/indigo.PNG') -55px -63px;}
#tau_indigo {background:url('/images/indigo.PNG') -110px -63px;}
#ari_indigo {background:url('/images/indigo.PNG') -162px -63px;}
#TiCu_indigo {background:url('/images/indigo.PNG') -215px -63px;}
#FeMn_indigo {background:url('/images/indigo.PNG') -270px -63px;}
#MnFe_indigo {background:url('/images/indigo.PNG') -325px -63px;}
#CuTi_indigo {background:url('/images/indigo.PNG') -375px -63px;}

#CuAu_indigo {background:url('/images/indigo.PNG') 0 -126px; }
#AuCu_indigo {background:url('/images/indigo.PNG') -55px -126px;}
#NpMn_indigo {background:url('/images/indigo.PNG') -110px -126px;}
#AgSn_indigo {background:url('/images/indigo.PNG') -162px -126px;}
#FeHg_indigo {background:url('/images/indigo.PNG') -215px -126px;}
#HgFe_indigo {background:url('/images/indigo.PNG') -270px -126px;}
#SnAg_indigo {background:url('/images/indigo.PNG') -325px -126px;}
#MnNp_indigo {background:url('/images/indigo.PNG') -375px -126px;}

#AgAu_indigo {background:url('/images/indigo.PNG') 0 -189px; }
#FePb_indigo {background:url('/images/indigo.PNG') -55px -189px;}
#HgCu_indigo {background:url('/images/indigo.PNG') -110px -189px;}
#SnSn_indigo {background:url('/images/indigo.PNG') -162px -189px;}
#CuHg_indigo {background:url('/images/indigo.PNG') -215px -189px;}
#PbFe_indigo {background:url('/images/indigo.PNG') -270px -189px;}
#AuAg_indigo {background:url('/images/indigo.PNG') -325px -189px;}
#NpNp_indigo {background:url('/images/indigo.PNG') -375px -189px;}

#SnAu_indigo {background:url('/images/indigo.PNG') 0 -252px; }
#CuPb_indigo {background:url('/images/indigo.PNG') -55px -252px;}
#PbCu_indigo {background:url('/images/indigo.PNG') -110px -252px;}
#AuSn_indigo {background:url('/images/indigo.PNG') -162px -252px;}
#AgHg_indigo {background:url('/images/indigo.PNG') -215px -252px;}
#TiFe_indigo {background:url('/images/indigo.PNG') -270px -252px;}
#FeTi_indigo {background:url('/images/indigo.PNG') -325px -252px;}
#HgAg_indigo {background:url('/images/indigo.PNG') -375px -252px;}

#AuAu_indigo {background:url('/images/indigo.PNG') 0 -315px; }
#AgPb_indigo {background:url('/images/indigo.PNG') -55px -315px;}
#FeUr_indigo {background:url('/images/indigo.PNG') -110px -315px;}
#HgSn_indigo {background:url('/images/indigo.PNG') -162px -315px;}
#PuPu_indigo {background:url('/images/indigo.PNG') -215px -315px;}
#SnHg_indigo {background:url('/images/indigo.PNG') -270px -315px;}
#UrFe_indigo {background:url('/images/indigo.PNG') -325px -315px;}
#PbAg_indigo {background:url('/images/indigo.PNG') -375px -315px;}

#HgAu-Ti_indigo {background:url('/images/indigo.PNG') 0 -378px; }
#Ti-SnPb_indigo {background:url('/images/indigo.PNG') -55px -378px;}
#UrCu_indigo {background:url('/images/indigo.PNG') -110px -378px;}
#CuMn_indigo {background:url('/images/indigo.PNG') -162px -378px;}
#PbSn_indigo {background:url('/images/indigo.PNG') -215px -378px;}
#AuHg_indigo {background:url('/images/indigo.PNG') -270px -378px;}
#NpFe_indigo {background:url('/images/indigo.PNG') -325px -378px;}
#AgTi_indigo {background:url('/images/indigo.PNG') -375px -378px;}

#HgAu_indigo {background:url('/images/indigo.PNG') 0 -441px; }
#SnPb_indigo {background:url('/images/indigo.PNG') -55px -441px;}
#MnCu_indigo {background:url('/images/indigo.PNG') -110px -441px;}
#CuUr_indigo {background:url('/images/indigo.PNG') -162px -441px;}
#PbSn-Ti_indigo {background:url('/images/indigo.PNG') -215px -441px;}
#Ti-AuHg_indigo {background:url('/images/indigo.PNG') -270px -441px;}
#TiAg_indigo {background:url('/images/indigo.PNG') -325px -441px;}
#FeNp_indigo {background:url('/images/indigo.PNG') -375px -441px;}

#PbAu_indigo {background:url('/images/indigo.PNG') 0 -504px; }
#AuPb_indigo {background:url('/images/indigo.PNG') -55px -504px;}
#NpCu_indigo {background:url('/images/indigo.PNG') -110px -504px;}
#AgMn_indigo {background:url('/images/indigo.PNG') -162px -504px;}
#TiSn_indigo {background:url('/images/indigo.PNG') -215px -504px;}
#Mn-FePu_indigo {background:url('/images/indigo.PNG') -270px -504px;}
#HgHg-Ti_indigo {background:url('/images/indigo.PNG') -325px -504px;}
#PuFe_indigo {background:url('/images/indigo.PNG') -375px -504px;}

#AgUr_indigo {background:url('/images/indigo.PNG') 0 -567px; }
#FePu_indigo {background:url('/images/indigo.PNG') -55px -567px;}
#Ti-HgHg_indigo {background:url('/images/indigo.PNG') -110px -567px;}
#PuFe-Mn_indigo {background:url('/images/indigo.PNG') -162px -567px;}
#SnTi_indigo {background:url('/images/indigo.PNG') -215px -567px;}
#MnAg_indigo {background:url('/images/indigo.PNG') -270px -567px;}
#CuNp_indigo {background:url('/images/indigo.PNG') -325px -567px;}
#UrAg_indigo {background:url('/images/indigo.PNG') -375px -567px;}

#PbAu-Ti_indigo {background:url('/images/indigo.PNG') 0 -630px; }
#Ti-AuPb_indigo {background:url('/images/indigo.PNG') -55px -630px;}
#AgMn_indigo {background:url('/images/indigo.PNG') -110px -630px;}
#HgHg_indigo {background:url('/images/indigo.PNG') -162px -630px;}
#Ti-HgHg-Ti_indigo {background:url('/images/indigo.PNG') -215px -630px;}
#MnAg_indigo {background:url('/images/indigo.PNG') -270px -630px;}
#PuSn_indigo {background:url('/images/indigo.PNG') -325px -630px;}
#SnPu_indigo {background:url('/images/indigo.PNG') -375px -630px;}

#UrAu_indigo {background:url('/images/indigo.PNG') 0 -693px; }
#PbPb_indigo {background:url('/images/indigo.PNG') -55px -693px;}
#AuUr_indigo {background:url('/images/indigo.PNG') -110px -693px;}
#NpSn_indigo {background:url('/images/indigo.PNG') -162px -693px;}
#TiHg_indigo {background:url('/images/indigo.PNG') -215px -693px;}
#FeFe_indigo {background:url('/images/indigo.PNG') -270px -693px;}
#HgTi_indigo {background:url('/images/indigo.PNG') -325px -693px;}
#SnNp_indigo {background:url('/images/indigo.PNG') -375px -693px;}

#NpAu_indigo {background:url('/images/indigo.PNG') 0 -756px; }
#TiPb_indigo {background:url('/images/indigo.PNG') -55px -756px;}
#FeCu_indigo {background:url('/images/indigo.PNG') -110px -756px;}
#HgMn_indigo {background:url('/images/indigo.PNG') -162px -756px;}
#MnHg_indigo {background:url('/images/indigo.PNG') -215px -756px;}
#CuFe_indigo {background:url('/images/indigo.PNG') -270px -756px;}
#PbTi_indigo {background:url('/images/indigo.PNG') -325px -756px;}
#AuNp_indigo {background:url('/images/indigo.PNG') -375px -756px;}

#PuAu_indigo {background:url('/images/indigo.PNG') 0 -819px; }
#UrPb_indigo {background:url('/images/indigo.PNG') -55px -819px;}
#PbUr_indigo {background:url('/images/indigo.PNG') -110px -819px;}
#AuPu_indigo {background:url('/images/indigo.PNG') -162px -819px;}
#NpHg_indigo {background:url('/images/indigo.PNG') -215px -819px;}
#AgFe_indigo {background:url('/images/indigo.PNG') -270px -819px;}
#FeAg_indigo {background:url('/images/indigo.PNG') -325px -819px;}
#HgNp_indigo {background:url('/images/indigo.PNG') -375px -819px;}

/* unicode */ 

#uMn:before {content:"\25CA";padding-left:0.3em;padding-right:0.225em;}
#uUp:before {content:"\260A";}
#uDw:before {content:"\260B";}
#uOp:before {content:"\260D";}
#uTi:before {content:"\2604";}
#uSt:before {content:"\2606";}
#uAu:before {content:"\2609";}
#ugA:before {content:"\263D";}
#uAg:before {content:"\263E";}
#uHg:before {content:"\263F";}
#uCu:before {content:"\2640";padding-left:0.15em;padding-right:0.15em;}
#uCo:before {content:"\2641";}
#uFe:before {content:"\2642";padding-left:0.15em;padding-right:0.15em;}
#uSn:before {content:"\2643";}
#uPb:before {content:"\2644";}
#uUr:before {content:"\2645";}
#uNp:before {content:"\2646";}
#uPu:before {content:"\2647";}
#u__:before {content:"\2003";}

#uAri:before {content:"\2648";font-size:98%;}
#uTau:before {content:"\2649";font-size:98%;}
#uGem:before {content:"\264A";font-size:98%;}
#uCan:before {content:"\264B";font-size:98%;}
#uLeo:before {content:"\264C";font-size:98%;}
#uVir:before {content:"\264D";font-size:98%;}
#uLib:before {content:"\264E";font-size:98%;}
#uSco:before {content:"\264F";font-size:98%;}
#uSag:before {content:"\2650";font-size:98%;}
#uCap:before {content:"\2651";font-size:98%;}
#uAqu:before {content:"\2652";font-size:98%;}
#uPis:before {content:"\2653";font-size:98%;}

#uFlt:before {content:"\266D";}
#uNtl:before {content:"\266E";}
#uShp:before {content:"\266F";}
#uRst:before {content:"\203A";}
#uUbt:before {content:"\2191";}
#uDbt:before {content:"\2193";}
#uCpy:before {content:"\2200";padding-right:0.15em;}
