
body {
  background-color:#ffe;
}
.wing {
  width:320px;
  height:440px;
  padding:10px 0 0 0;
  text-align:center;
}
button {
  background-color:#fffff0;
  font-family:consolas,monospace;
  font-size:14px;
  color:#111;
  padding:6px;
  border:1px solid #aaa;
  border-radius:6px;
  cursor:pointer;
  margin:2px;
}
.vrt {
  padding:20px;
  font-family:monospace;
  font-size:16px;
  color:#550;
}
.attr {
  font-family:verdana,sans-serif;
  font-size:14px;
  color:#777;
}
@media ( min-width:932px ) {
#obv {
  position:absolute;
  left:95px;
  top:80px;
}
#rev {
  position:absolute;
  left:597px;
  top:80px;
}
#gtr {
  position:absolute;
  left:416px;
  top:5px;
}
#cll {
  position:absolute;
  left:426px;
  top:5px;
}
#spt {
  position:absolute;
  left:406px;
  top:20px;
}
#ftr {
  position:absolute;
  left:50px;
  top:580px;
} }
@media ( max-width:932px ) {
#obv {
  margin-left:auto;
  margin-right:auto;
}
#rev {
  margin-left:auto;
  margin-right:auto;
}
#gtr {
  text-align:center;
}
#cll {
  text-align:center;
}
#spt {
  text-align:center;
}
#ftr {
  text-align:center;
} }

