
body {
 background-color:#fffff0; } 
h1 {
 font-family:sans-serif;
 color:#2f4f4f;
 padding-top:2px; } /* DarkSlateGray */ 
span.nav-ttl { 
 font-family:sans-serif;
 font-size:28px;
 color:#cdcdcd; } 
ul {
 white-space:nowrap;
 padding-top:8px; }
li {
 display:inline; 
 font-family:sans-serif;
 font-size:18px;
 padding-left:1em; }
div.strings { 
 font-family:monospace;
 font-size:20px;
 color:#2f4f4f;
 white-space:nowrap; } 
div.symbol {
 white-space:nowrap; }
div.cmd-ui {
 text-align:center;
 white-space:nowrap; } 
div.embed { 
 width:615px;
 margin-left:20px;
 white-space:nowrap; }
div.attr {
 position:absolute;
 left:50px;
 top:580px; }
p.credit {
 font-family:sans-serif;
 font-size:14px;
 color:#bcbcbc;
 padding:10px; }
div.ndx-low {
 position:absolute;
 left:20px;
 top:1280px;
 white-space:nowrap; }
div#gst-ui { 
 background-color:#fffff0; 
 text-align:center;
 font-family:monospace;
 font-size:18px;
 position:absolute;
 left:20px;
 top:120px; }
div#mst-ui { 
 background-color:#fffff0; 
 text-align:center;
 font-family:monospace;
 font-size:18px;
 position:absolute;
 left:465px;
 top:120px; } 
th#gemstone-gst { 
 background-color:#fff8dc; /* Cornsilk */ 
 padding:0.5em; }
th#gemstone-mst { 
 background-color:#fff8dc; 
 padding:0.5em; }
td#opal-sapphire-gst { 
 background-color:#fffaf0; /* FloralWhite */
 padding:1em; }
td#opal-peridot-gst { 
 background-color:#fff8dc;
 padding:1em; }
td#opal-amethyst-gst { 
 background-color:#fffaf0;
 padding:1em; }
td#opal-onyx-gst { 
 background-color:#fff8dc;
 padding:1em; }
td#opal-agate-gst { 
 background-color:#fffaf0;
 padding:1em; }
td#opal-beryl-gst { 
 background-color:#fff8dc;
 padding:1em; }
td#topaz-sapphire-gst { 
 background-color:#fffaf0;
 padding:1em; }
td#topaz-peridot-gst { 
 background-color:#fff8dc;
 padding:1em; }
td#topaz-amethyst-gst { 
 background-color:#fffaf0;
 padding:1em; }
td#topaz-onyx-gst { 
 background-color:#fff8dc;
 padding:1em; }
td#topaz-agate-gst { 
 background-color:#fffaf0;
 padding:1em; }
td#topaz-beryl-gst { 
 background-color:#fff8dc;
 padding:1em; }
td#opal-sapphire-mst { 
 background-color:#fffaf0;
 padding:1em; }
td#opal-peridot-mst { 
 background-color:#fff8dc;
 padding:1em; }
td#opal-amethyst-mst { 
 background-color:#fffaf0;
 padding:1em; }
td#opal-onyx-mst { 
 background-color:#fff8dc;
 padding:1em; }
td#opal-agate-mst { 
 background-color:#fffaf0;
 padding:1em; }
td#opal-beryl-mst { 
 background-color:#fff8dc;
 padding:1em; }
td#topaz-sapphire-mst { 
 background-color:#fffaf0;
 padding:1em; }
td#topaz-peridot-mst { 
 background-color:#fff8dc;
 padding:1em; }
td#topaz-amethyst-mst { 
 background-color:#fffaf0;
 padding:1em; }
td#topaz-onyx-mst { 
 background-color:#fff8dc;
 padding:1em; }
td#topaz-agate-mst { 
 background-color:#fffaf0;
 padding:1em; }
td#topaz-beryl-mst { 
 background-color:#fff8dc;
 padding:1em; }
button.bttn {
 background-color:#fffff0;
 border-color:transparent;
 font-family:monospace;
 font-size:18px;
 color:#1e90ff; /* DodgerBlue */
 padding:2px;
 cursor:pointer; }
table.t-center {
 margin-left:auto;
 margin-right:auto; } 
table.fretboard { 
 background-color:transparent; 
 border-collapse:collapse;
 margin-left:auto;
 margin-right:auto;  }
td.tablet {
 border:1px solid #dcdcdc; /* Gainsboro */
 background-color:#fffff0; 
 color:#2f4f4f; /* DarkSlateGray */
 white-space:nowrap;
 overflow:hidden;
 padding:0.5em; }
td.glyph {
 width:40px;
 height:54px; }
p.cush {
 padding-left:1em; }
a:link {
 text-decoration:none;
 color:#1e90ff; } /* DodgerBlue */
a:visited {
 text-decoration:none; 
 color:#1e90ff; }
a:hover {
 text-decoration:underline; 
 color:#4682b4; /* SteelBlue */ 
 background-color:#fffff0; } 
a:active {
 text-decoration:underline; 
 color:#4682b4; 
 background-color:#fffff0; }
.logo { 
 float:left; }
.molign {
 margin-left:5em; }
.center {
 text-align:center; }
.text-main {
 text-align:center;
 font-family:sans-serif;
 font-size:18px;
 color:#2f4f4f; } /* DarkSlateGray */
div#container { 
 background-color:#fffff0; } 
div#content {
 background-color:#fffff0; 
 padding:0.25em;  } 
div#scribe { 
 background-color:transparent;
 padding:2em; } 
div#sqr { 
 background-color:transparent;
 width:555px;
 height:555px; } 
div#footer { 
 background-color:transparent; 
 width:280px;
 font-family:sans-serif;
 color:#a9a9a9; /* DarkGray */
 padding-bottom:0.15em; } 
div#header {
 background-color:#f4f4f4;
 width:400px;
 height:45px; } 
div#menu {
 background-color:#f4f4f4;
 width:715px;
 height:37px; } 
@media print { 
 div#header { 
  display:none; } 
 div#menu { 
  display:none;  } 
 div#content { 
  color:#2f4f4f; }
 div#footer { 
  text-align:center; 
  color:#a9a9a9; } 
  } 