
@media (max-width:700px) {
body {
  background-color:#fffff0;
  font-family:helvetica,arial,sans-serif;
}
.logo {
  float:left;
}
.molign {
  text-align:center;
  padding-top:30px;
  font-size:32px;
  color:#2f4f4f;
}
#menu {
  margin:50px 0 0 20px;;
}
ul {
  list-style:square;
  font-size:24px;
  color:#cd853f;
}
li {
  padding:4px;
}
a {
  text-decoration:none;
  color:#1e90ff;
}
a:visited {
  text-decoration:none; 
  color:#1e90ff;
}
a:hover {
  text-decoration:underline; 
  color:#4682b4;
}
a:active {
  text-decoration:underline; 
  color:#4682b4;
}
#content {
  width:280px;
  margin-left:auto;
  margin-right:auto;
}
#gst-ui, #mst-ui {
  text-align:center;
  font-size:24px;
}
.nav-ttl {
  font-size:28px;
  color:#cd853f;
}
.lnk {
  padding:24px;
}
th, td {
  border:1px dotted #aaa;
  padding:8px 0 8px 0;
}
#vGtrMdl {
  text-align:center;
  font-family:monospace;
  font-size:16px;
  color:#a0522d;
}
#side-menu {
  display:none;
}
#viewTopaz, #viewOpal {
  width:430px;
  margin-left:auto;
  margin-right:auto;
}
.nstr {
  font-family:monospace;
  font-size:12px;
  color:#2f4f4f;
  padding:0 0 0 10px;
}
#footer, #ftr42, #ftr52 {
  text-align:center;
  font-size:14px;
  color:#2f4f4f;
  padding:10px;
}
}

