
@media (max-width:700px) {
body {
  background-color:#fffff0;
  font-family:helvetica,arial,sans-serif;
}
.logo {
  float:left;
}
.molign {
  text-align:center;
  padding-top:30px;
  font-size:32px;
  color:#2f4f4f;
}
#menu {
  margin:50px 0 0 20px;;
}
ul {
  list-style:square;
  font-size:24px;
  color:#cd853f;
}
li {
  padding:4px;
}
a {
  text-decoration:none;
  color:#1e90ff;
}
a:visited {
  text-decoration:none; 
  color:#1e90ff;
}
a:hover {
  text-decoration:underline; 
  color:#4682b4;
}
a:active {
  text-decoration:underline; 
  color:#4682b4;
}
#ndex {
  width:280px;
  margin-left:auto;
  margin-right:auto;
}
.strings {
  font-family:consolas,"courier new",monospace;
  font-size:12px;
  color:#2f4f4f;
  white-space:nowrap;
}
.center {
  text-align:center;
}
.cmd-ui {
  text-align:center;
  white-space:nowrap;
}
.bttn {
  border:1px solid #fffff0;
  background-color:#fffff0;
  font-family:consolas,"courier new",monospace;
  font-size:12px;
  color:#1e90ff;
  padding:0;
  cursor:pointer;
}
#scribe {
  background-color:transparent;
}
.t-center {
  margin-left:auto;
  margin-right:auto;
}
.fretboard {
  background-color:transparent; 
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
}
.glyph {
  width:40px;
  height:54px;
}
.symbol {
  white-space:nowrap;
}
#gst-ui, #mst-ui {
  text-align:center;
  font-size:24px;
}
#gemstone-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:16px 2px 2px 2px;
}
#gemstone-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:16px 2px 2px 2px;
}
.nav-ttl {
  font-size:28px;
  color:#cd853f;
}
#opal-sapphire-gst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-peridot-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-amethyst-gst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-onyx-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-agate-gst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-beryl-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-sapphire-gst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-peridot-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-amethyst-gst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-onyx-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-agate-gst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-beryl-gst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-sapphire-mst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-peridot-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-amethyst-mst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-onyx-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-agate-mst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#opal-beryl-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-sapphire-mst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-peridot-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-amethyst-mst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-onyx-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-agate-mst {
  background-color:#fffff3;
  border:1px dotted #ccc;
  padding:2px;
}
#topaz-beryl-mst {
  background-color:#fffff5;
  border:1px dotted #ccc;
  padding:2px;
}
.lnk {
  padding:24px;
}
#vGtrMdl {
  text-align:center;
  font-family:monospace;
  font-size:16px;
  color:#a0522d;
}
#side-menu {
  display:none;
}
.brdt {
  border:1px dotted #aaa;
}
#viewTopaz, #viewOpal {
  width:430px;
  margin-left:auto;
  margin-right:auto;
}
.nstr {
  font-family:monospace;
  font-size:12px;
  color:#2f4f4f;
  padding:0 5px 0 5px;
}
.han {
  font-family:SimSun,SimHei,monospace;
  font-size:14px;
  color:#2f4f4f;
  padding:0 5px 0 5px;
}
#footer, #ftr42, #ftr52, #ftr76 {
  text-align:center;
  font-size:14px;
  color:#2f4f4f;
  padding:10px;
}
}

