
body {
  background-color: Ivory;
}
header h1 {
  text-align: center;
  font-family: sans-serif;
  color: Tan;
}
div.cluster {
  width: 99%;
  border: 1px dotted transparent;
  line-height: 180%;
  text-align: center;
  font-family: monospace;
  font-size: 200%;
}
div.cluster ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.cluster a {
  text-decoration: none;
  color: SteelBlue;
}
div.cluster a:hover {
  text-decoration: underline;
  color: MidnightBlue;
}
nav#menu {
  width: 99%;
  border: 1px dotted transparent;
  line-height: 180%;
  text-align: center;
  font-family: monospace;
  font-size: 200%;
}
nav#menu ul {
  list-style-type: none;
  display: inline-block;
  width: 40%;
  border: 1px dotted transparent;
  margin: 0;
  padding: 0;
}
nav#menu a {
  text-decoration: none;
  color: DarkSeaGreen;
}
nav#menu a:hover {
  text-decoration: underline;
  color: teal;
}
dl.stella {
  width: 60%;
  margin: 5% auto;
  border: 1px dotted transparent;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
}
dl.stella dt {
  font-size: 265%;
  color: Sienna;
}
dl.stella dd {
  font-size: 400%;
  color: DarkGoldenrod;
}
dl.stella b {
  color: LightSteelBlue;
}
footer#floor {
  width: 99%;
  height: 8em;
  border: 1px dotted transparent;
}
p.attr {
  margin-top: 6em;
  text-align: center;
  font-family: sans-serif;
  font-size: 90%;
  color: LightSlateGrey;
}
@media screen and ( max-width: 860px ) {
  dl.stella {
    width: 90%;
  }
}

