
body {
  margin: 0;
  padding: 0;
  background-color: Ivory;
  line-height: normal;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}
header h1 {
  font-size: 1.5em;
  font-family: sans-serif;
  color: Tan;
}
div.cluster {
  font-size: inherit;
}
div.cluster ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}
div.cluster ul li {
  margin: 0.5em 0;
}
div.cluster a {
  margin: 0 0.5em;
  text-decoration: none;
  color: SteelBlue;
}
div.cluster a:hover {
  text-decoration: underline;
  color: MidnightBlue;
}
nav#menu {
  font-size: inherit;
}
nav#menu ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav#menu ul li {
  margin: 0.5em 0.8em;
}
nav#menu a {
  text-decoration: none;
  color: DarkSeaGreen;
}
nav#menu a:hover {
  text-decoration: underline;
  color: teal;
}
dl.stella {
  width: 28em;
  margin: 1em auto;
  padding: 0.5em 0;
  white-space: nowrap;
  overflow: hidden;
}
dl.stella dt {
  font-size: 1em;
  color: Sienna;
}
dl.stella dd {
  margin: 0;
  font-size: 1.5em;
  color: DarkGoldenrod;
}
dl.stella b {
  color: LightSteelBlue;
}
footer#floor {
  height: 4em;
}
p.attr {
  margin-top: 2em;
  font-family: sans-serif;
  font-size: 0.6em;
  color: LightSlateGrey;
}
@media screen and ( max-width: 860px ) {
  dl.stella {
    width: auto;
  }
}

