
body {
  background-color:#ffffee;
}
#topNav {
  position:absolute;
  left:50px;
  top:20px;
  width:760px;
  text-align:center;
}
#lowNav {
  position:absolute;
  left:50px;
  top:400px;
  width:760px;
  text-align:center;
}
.btn {
  background-color:beige;
  border:2px solid #c9c9c9;
  border-radius:8px;
  font-family:consolas,monospace;
  font-size:16px;
  font-weight:bold;
  color:#5a5a5a;
  cursor:pointer;
  padding:3px;
  margin:2px;
}
#gtr {
  position:absolute;
  left:80px;
  top:170px;
  white-space:nowrap;
}
#sL {
  font-family:consolas,courier,monospace;
  font-size:18px;
  color:#2f2f00;
}
#sT {
  font-weight:bold;
}
#footer {
  position:absolute;
  left:40px;
  top:572px;
}
.msg {
  font-family:verdana,sans-serif;
  font-size:14px;
  color:#808080;
}
@media screen and ( max-width:700px ) {
  body {
    margin:0;
    padding:0;
  }
  #topNav {
    display:none;
  }
  #lowNav {
    position:relative;
    left:0;
    top:0;
    width:100%;
    text-align:center;
  }
  .btn {
    margin:2px;
    border:1px solid #c9c9c9;
    padding:3px;
    font-size:12px;
  }
  #gtr {
    position:relative;
    left:0;
    top:0;
    width:472px;
    margin-left:auto;
    margin-right:auto;
    white-space:nowrap;
  }
  #sL {
    font-size:0.8em;
    color:#000000;
    margin:0 0 1.25em 0;
  }
  dd {
    margin:0;
  }
  #footer {
    position:relative;
    left:0;
    top:0;
    text-align:center;
  }
}

