
body {
  background-color:#fffff0;
  font-family:"WenQuanYi Zen Hei Mono",monospace;
  white-space:nowrap;
}
h1 {
  text-align:center;
  font-size:32px;
  color:#888800;
  padding:16px;
}
.attr {
  text-align:center;
  padding:20px;
}
.cpy {
  font-family:"DejaVu Sans",helvetica,arial,sans-serif;
  font-size:14px;
  color:#808080;
}
@media ( min-width:800px ) {
.content {
  width:832px;
  margin:0 auto 0 auto;
  font-size:24px;
  color:#555500;
}
.qin-octave {
  width:892px;
  margin:0 auto 0 auto;
  font-size:24px;
  color:#555500;
} }
@media ( max-width:800px ) {
.content {
  width:432px;
  margin:0 auto 0 auto;
  font-size:14px;
  color:#444400;
}
.qin-octave {
  width:468px;
  margin:0 auto 0 auto;
  font-size:14px;
  color:#444400;
} }

