
body {
  background-color:#fffff0;
}
#nv {
  position:fixed;
  left:1px;
  top:1px;
}
.uol {
  list-style-type:none;
  font-family:sans-serif;
  font-size:16px;
  font-weight:bold;
}
.uol li {
  display:inline;
}
.twg {
  padding:2px 4px 2px 4px;
  background-color:#fffff0;
}
.pg {
  background-color:#fafad2;
}
a {
  text-decoration:none;
  color:#d2b48c;
}
a:hover {
  text-decoration:underline;
  color:#b0926a;
}
iframe {
  background-color:#ffffff;
  border:2px solid #dcdcdc;
  border-radius:10px;
  padding:12px;
}
#cntfrm {
  text-align:center;
}
#txtfrm {
  position:absolute;
  left:250px;
  top:50px;
}
.dm4x2 {
  width:480px;
  height:260px;
}
.dm5x2 {
  width:580px;
  height:284px;
}
#hepta-k56x4 {
  position:absolute;
  left:150px;
  top:100px;
  background-image:url("/images/bg/hepta-k56x4.png");
  width:590px;
  height:148px;
}
#penta-k56x4 {
  position:absolute;
  left:150px;
  top:300px;
  background-image:url("/images/bg/penta-k56x4.png");
  width:590px;
  height:148px;
}
.tCent {
  margin-left:auto;
  margin-right:auto;
  padding:0 80px 0 80px;
}
.pddng {
  padding:10px 20px 10px 20px;
}
.pllr {
  font-family:monospace;
  font-size:20px;
  color:#bdb76b;
}
#capsulate dl {
  margin:2% 0 0 2%;
  font-family:monospace;
  font-size:18px;
  color:#2f4f4f;
  white-space:nowrap;
}
#capsulate dd {
  margin:0 0 0 1%;
}
.ftr {
  text-align:center;
  font-family:sans-serif;
  font-size:14px;
  color:#696969;
  padding:20px 0 20px 0;
}
@media screen and ( max-width:800px ) {
  #nv {
    position:relative;
    left:0;
    top:0;
  }
  .uol li {
    display:block;
  }
  .twg {
    width:100px;
    padding:5px 0 5px 2px;
  }
  iframe {
    display:none;
  }
  #hepta-k56x4 {
  position:relative;
  left:0;
  top:0;
  width:332px;
  height:148px;
  }
  #penta-k56x4 {
  position:relative;
  left:0;
  top:30px;
  width:332px;
  height:148px;
  }
  .tCent {
    padding:0;
  }
  .pddng {
    padding:0;
  }
  .pllr {
    font-size:14px;
  }
}
@media screen and ( max-width:500px ) {
  #capsulate dl {
    font-size:12px;
  }
}

